.Container {
    position: relative;
    width: 100%;
    height: 100vh;
    max-height: 900px;
    overflow: hidden;
    min-height: 400px;
}

/* Style the video: 100% width and height to cover the entire window */
.Video {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: 1;
    opacity: 0.5;
}

.Overlay {
    position: relative;
    z-index: 2;
    background: rgb(0, 0, 0);
}
  
/* Add some content at the bottom of the video/page */
.Content {
    position: absolute;
    top: 0;
    left: 0;
    color: #f1f1f1;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    z-index: 3;
}

.SubContent {
    text-align: center;
    padding: 20px;
}

.SubContent p {
    color: #eeeeeead;
    font-size: clamp(1rem, 2vw, 1.3rem);
    margin: 0;
}

@media (max-width: 768px) {
    .Container {
        max-height: 600px;
        min-height: 300px;
    }
}
